<!~<!-- This line is extremely important to use thymleaf -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    
    
<html>
    <head>
        <title>SIMPLE WEBSITE</title>
    </head>
    <body>
        <div>Hello world!</div>
        <h1>
            This is a greet from controller: <span th:text="${message}"/>
        </h1>
        <h3 th:text="${greeting}"/>
        
        <iframe src="https://giphy.com/embed/P4GxohAK1vaKI2yH8E" width="480" height="309" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/dancing-catmeme-get-jiggly-with-it-P4GxohAK1vaKI2yH8E"></a></p>
        
    </body>
</html>
